[submodule "modules/octakit/upstream"]
	path = modules/octakit/upstream
	url = https://github.com/emuyia/ems-octakit
[submodule "modules/midi-scenes/upstream"]
	path = modules/midi-scenes/upstream
	url = https://github.com/bkkbrls-del/midisc
	branch = main
[submodule "modules/direct-jump/upstream"]
	path = modules/direct-jump/upstream
	url = https://github.com/timhastie/octatrick-modules
[submodule "modules/quantizer/upstream"]
	path = modules/quantizer/upstream
	url = https://github.com/timhastie/octatrick-modules
[submodule "modules/synth/upstream"]
	path = modules/synth/upstream
	url = https://github.com/timhastie/octatrick-modules
